@page "/locations/{id}"
@rendermode InteractiveServer
@using BackOfficeUI.Infrastructure
@using Blazorise
@using BackOfficeUI.Components.Maintenance.Issues
@inject CaptureClient captureClient
@inject LocationDetailGetter locationDetailGetter

<h3>Location @id</h3>

<h3>@LocationItem?.Description</h3>
<button class="btn btn-primary" @onclick="Capture">Capture</button>

<Tabs SelectedTab="@selectedTab" SelectedTabChanged="OnSelectedTabChanged">
    <Tab Name="open-issues">Open issues</Tab>
    <TabPanel Name="open-issues">
        <IssuesList Path="@LocationItem?.Path"/>
    </TabPanel>
</Tabs>
@code {
    [Parameter]
    public string id { get; set; }
    
    string selectedTab = "open-issues";
    
    public Cerverus.BackOffice.Features.OrganizationalStructure.Location.Location? LocationItem { get; set; }

    private async Task Capture()
    {
        await captureClient.CaptureSnapshot(id);
    }

    protected override async Task OnInitializedAsync()
    {
        this.LocationItem = await locationDetailGetter.GetLocationDetail(id);
    }

    private Task OnSelectedTabChanged(string tab)
    {
        selectedTab = tab;
        return Task.CompletedTask;
    }

}