@using Cerverus.Maintenance.Features.Features.Issues.GetDetail
@using Blazorise
@using Cerverus.Maintenance.Features.Features.Analysis
<h3>Analysis errors</h3>
<Card>
<CardBody>
    <CardTitle Size="5">Analysis errors</CardTitle>
    @foreach (var issue in Issue?.Errors ?? [])
    {
        <CardText>
            <strong>@issue.FilterDescription</strong>@GetIssueMessage(issue)
        </CardText>
    }
</CardBody>
</Card>
@code {
    [Parameter]
    public MaintenanceIssueDetail? Issue { get; set; }

    private string GetIssueMessage(FilterResult result)
    {
        return string.IsNullOrEmpty(result.ErrorMessage) ? string.Empty : $"- {result.ErrorMessage}";
    }
   
}