@using Blazorise
@using Cerverus.BackOffice.Features.OrganizationalStructure.Shared
<li class="nav-item px-3">
    <NavLink @key="Item" class="nav-link" href=@Url>
        <Icon Name="IconName" />
        <span class="@icon" aria-hidden="true"></span> @Item.Item.Description
    </NavLink>
    @if (HasChildren)
    {
    <ul class="pl-1 nav flex-column">
        @foreach (var item in Item.Children)
        {
        <LocationNavLink Item="item" />
        }
    </ul>
    }
</li>

@code {
    [Parameter]
    public NavigationMenuItem Item { get; set; } 
    string icon => Item.Item.Type == HierarchicalItemType.Location ? "oi oi-chevron-bottom" : "oi oi-chevron-right";
    string Url => Item.Item.Type == HierarchicalItemType.Location ? $"locations/{Item.Item.Id}" : $"cameras/{Item.Item.Id}";
    
    bool HasChildren => Item.Children?.Any() == true;
    
    private IconName IconName => Item.Item.Type switch
    {
        HierarchicalItemType.Location => IconName.Folder,
        HierarchicalItemType.Camera => IconName.Camera,
        _ => IconName.Folder
    };
    
}