@using BackOfficeUI.Infrastructure.Maintenance.Isues
@using Blazorise
@using Cerverus.Maintenance.Features.Features.Issues.ListByLocationPath
@inject IssueSummaryGetter issueSummaryGetter
<h3>Open issues</h3>

<CardDeck>
    @foreach (var issue in Issues)
    {
        <Card>
            <CardHeader>
                <strong>@issue.Description</strong>
            </CardHeader>
            <CardBody>
                <NavLink href="@GetIssueUrl(issue)">
                    <CardTitle Size="5">@issue.Path</CardTitle>
                    <Icon Name="@IconName.Camera"></Icon>    
                </NavLink>
            </CardBody>
        </Card>
    }
</CardDeck>

@code {
    
    [Parameter]
    public string? Path { get; set; }

    public List<MaintenanceIssueSummary> Issues { get; set; } = [];
    
    public string GetIssueUrl(MaintenanceIssueSummary issue)
    {
        return $"maintenance-issues/{issue.Id}";
    }
    
    protected override async Task OnParametersSetAsync()
    {
        if(this.Path != null)
            Issues = await issueSummaryGetter.GetByLocation(Path);
        await base.OnParametersSetAsync();
    }

}