@using Cerverus.Features.Features.OrganizationalStructure.HierarchyItems
@inject TreeItemsLoader treeItemsLoader
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Cerverus UI</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
       @foreach(var item in _treeItems)
       {
           <div class="nav-item px-3"></div>
           <NavLink class="nav-link" href="@($"location/{item.Id}")">
               <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>@item.Description
           </NavLink>
       }
    </nav>
</div>

@code
{
    private IEnumerable<HierarchyItem> _treeItems = new List<HierarchyItem>();
    protected override async Task OnInitializedAsync()
    {
        _treeItems = await treeItemsLoader.LoadItems("root");
    }
}
