@page "/cameras/{id}"
@rendermode InteractiveServer
@using Cerverus.UI.Components.Camera
@using Blazorise
@using Cerverus.UI.Components.Maintenance
@using Cerverus.UI.Components.Maintenance.Issues
@using Cerverus.UI.Infrastructure
@inject CaptureClient captureClient
@inject CameraDetailGetter cameraDetailGetter
<h3>@CameraItem?.Description</h3>

<button class="btn btn-primary" @onclick="Capture">Capture me</button>

<Tabs SelectedTab="@selectedTab" SelectedTabChanged="OnSelectedTabChanged">
    <Items>
        <Tab Name="open-issues">Open issues</Tab>
        <Tab Name="pending-reviews">Pending reviews</Tab>
        <Tab Name="settings">Settings</Tab>
        <Tab Name="captures">Captures</Tab>
    </Items>
    <Content>
        <TabPanel Name="open-issues">
            <IssuesList Path="@CameraItem?.Path"/>
        </TabPanel>
        <TabPanel Name="pending-reviews">
            <PendingReviews Path="@CameraItem?.Path"/>
        </TabPanel>
        <TabPanel Name="settings">
            <CameraSettings CameraId="@id"/>
        </TabPanel >
        <TabPanel Name="captures">
            <CameraThumbnailGallery CameraId="@id"/>
        </TabPanel >

    </Content>
</Tabs>
@code {
    [Parameter]
    public string id { get; set; }
    
    string selectedTab = "open-issues";
    
    private Task OnSelectedTabChanged(string tab)
    {
        selectedTab = tab;
        return Task.CompletedTask;
    }

    private Cerverus.BackOffice.Features.OrganizationalStructure.Camera.Camera? CameraItem { get; set; }

    private async Task Capture()
    {
        await captureClient.CaptureSnapshot(id);
    }
    
    protected override async Task OnInitializedAsync()
    {
        this.CameraItem = await cameraDetailGetter.GetCameraDetail(id);
    }
}