@rendermode InteractiveServer
@using BackOfficeUI.Infrastructure.Maintenance
@using Cerverus.Maintenance.Features.Features.TrainingReviews.GetPendingReviews
@inject PendingReviewsGetter pendingReviewsGetter

<ul>
    @if(Items == null)
    {
        <li>Loading...</li>
    }
    else if(Items.Count == 0)
    {
        <li>No pending reviews</li>
    }
    else
    {
        @foreach (var item in Items)
        {
            <li>@item.CreatedAt</li>
        }
    }
   
</ul>

@code {
    [Parameter]
    public string Path { get; set; }
    
    public List<PendingTrainingReview> Items { get; set; }
    
    
    protected override async Task OnParametersSetAsync()
    {
        if(this.Path != null)
            Items = await pendingReviewsGetter.GetPendingReviews(Path);
    }
}