@page "/training-reviews/{id}"
@using Wolverine
@using Blazorise
@using Cerberus.Maintenance.Features.Features.TrainingReviews
@using Cerberus.Maintenance.Features.Features.TrainingReviews.GetTrainingReview
@using Cerberus.UI.Infrastructure.Maintenance.Training
@using Cerberus.UI.Components.Maintenance.Training
@rendermode InteractiveServer
@inject IMessageBus MessageBus
<h3>MaintenanceReview</h3>
@if (this.TrainingReview == null)
{
    <div>Loading</div>
}
else if (this.TrainingReview.Status == TrainingReviewStatus.Completed)
{
    <TrainingReviewDetailView TrainingReview="@this.TrainingReview"></TrainingReviewDetailView>
}
else
{
    <Row>
        <Column ColumnSize="ColumnSize.Is10">
            <TrainingReviewDetailView TrainingReview="@this.TrainingReview"></TrainingReviewDetailView>
        </Column>
        <Column ColumnSize="ColumnSize.Is2">
            <TrainingReviewForm TrainingReview="@this.TrainingReview"></TrainingReviewForm>
        </Column>
    </Row>
    
}

@code {
    
    [Parameter]
    public string id { get; set; }
    
    private TrainingReviewDetail? TrainingReview { get; set; }
    
    
    protected override async Task OnInitializedAsync()
    {
        this.TrainingReview = await this.MessageBus.InvokeAsync<TrainingReviewDetail?>(new GetTrainingReview(this.id));
    }
}