@using Cerverus.Maintenance.Features.Features.TrainingReviews.GetTrainingReview
@using Blazorise
@using Cerverus.UI.Infrastructure.Extensions
<h3>TrainingReviewDetailView</h3>
<Card>
    <CardImage Source="@this.TrainingReview.CaptureInfo.GetImageUri()"></CardImage>
    <CardHeader>
        <CardTitle>@TrainingReview.Description</CardTitle>
    </CardHeader>
    <CardBody>
        <CardText>@TrainingReview.CreatedAt.Format()</CardText>
    </CardBody>
</Card>
@code {
    [Parameter]
    public TrainingReviewDetail TrainingReview { get; set; }
    
    

}