.swiper {
  display: flex;
  width: 1100px;
  height: 600px;
  justify-content: center;
  margin: 20px;
  margin-left: 0px;
  background: #202020;
  border-radius: 10px;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  font-size: 25px;
  padding: 10px;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: inherit;
  line-height: 1;
}
